<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <h1 class="title">
      Добро пожаловать в наш блокнотик хороших идей!
    </h1>
    <h2 class="subtitle">
      Дорогие соседи! Каждый день мы вместе стараемся сделать жизнь в нашем СНТ лучше.
      Этот сайт создан специально для того, чтобы каждый мог поделиться своими идеями,
      а также обсудить и поддержать идеи соседей.
    </h2>
    
    <div class="box is-secondary">
      <div class="buttons" style="align-content: space-between;">
        <div class="button is-white" >Чтобы посмотреть и предложить идеи войдите или зарегистрируйтесь:</div>
        <a class="button is-primary is-fullwidth" href="{{ url_for('auth.login') }}">Войти</a>
        <a class="button is-link is-fullwidth" href="{{ url_for('auth.signup') }}">Зарегистрироваться</a>
      </div>
    </div>
  </div>

</div>
{% endif %}

{% if current_user.is_authenticated %}
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
        <p class="title">Идеи</p>
        <div class="block">
          <a class="button is-primary is-fullwidth" href="{{ url_for('auth.login') }}">Предложить идею</a>
        </div>
          {% for idea in ideas %}
          <div class="card ">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="{{ idea.image }}" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{ idea.title }}</p>
                  <p class="subtitle is-7"><b>Автор:</b> {{ idea.author.name }} {{idea.created_at}}
                  <br><b>Последнее изменение:</b> {{ idea.modifyer.name }} {{idea.modify_at}}</p>
                </div>
              </div>
              <div class="content has-text-left">
                {{ idea.description }}
              </div>
              <div class="buttons">
                {% for like in likes %}
                <a href="{{ url_for('main.like_action', project_id=idea.id, like_id=like.id) }}" class="button is-rounded {{ like.color }}">
                  <span class="icon is-medium">
                    <i class="{{ like.icon }}"></i>
                  </span>
                  <span>{{ idea.get_likes(like.id) }}</span>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
          <br>
          {% endfor %}
    </article>
  </div>
  <div class="tile is-parent is-vertical">
    <article class="tile is-child notification is-primary">
      <p class="title">В работе</p>
      <p class="subtitle">Проекты в процессе реализации</p>
    </article>
    <article class="tile is-child notification is-warning">
      <p class="title">Архив</p>
      <p class="subtitle">Завершенные и отклоненные проекты</p>
    </article>
  </div>
</div>

{% endif %}

{% endblock %}